<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="tests" thread-count="1" verbose="1" >

    <test name="MainRun" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="email" value="" />
        <parameter name="password" value="" />
        <groups>
            <run>
                <exclude name="IE"/>
                <include name="Firefox"/>
                <include name="Chrome"/>
                <include name="AllBrowsers"/>
                <include name="functional"/>
                <include name="API"/>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.WebstaurantStore.ui.HomeTest"/>
        </classes>
    </test>
    <test name="API Tests" enabled="false">
        <groups>
            <run>
                <include name="API"/>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.WebstaurantStore.ui.HomeTest"/>

        </classes>
    </test>
</suite>